/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Table of Contents
    1. Fonts
        1.1 Font Family
        1.2 Font Size
        1.2 Font Weight
    2. Colors
    3. Transitions
*/
/* Table of Contents
    1. Overall Styling (mobile, etc.)
        1.1 Header
        1.2 Welcome
        1.3 Projects
        1.4 Skills
        1.5 About
        1.6 Contact
        1.7 Footer
    2. Tablet Styling
        2.1 Landscape
            2.1.1 Header
            2.1.2 Welcome
            2.1.3 Projects
            2.1.4 Skills
            2.1.5 About
            2.1.6 Contact
            2.1.7 Footer
        2.2 Portrait
            2.2.1 Header
            2.2.2 Welcome
            2.2.3 Projects
            2.2.4 Skills
            2.2.5 About
            2.2.6 Contact
            2.2.7 Footer
    3. Computer Styling
        3.1 Header
        3.2 Welcome
        3.3 Projects
        3.4 Skills
        3.5 About
        3.6 Contact
        3.7 Footer
*/
body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  background-attachment: fixed;
}

section {
  width: calc(100vw - 80px);
  margin: 40px 20px;
  padding: 20px;
  background-color: #969393;
  -webkit-box-shadow: 2px 2px 10px 1px #424242;
          box-shadow: 2px 2px 10px 1px #424242;
}

h2 {
  margin-bottom: 20px;
  font-family: "Patrick Hand", cursive;
  font-size: 2.5rem;
  color: #f0466b;
}

p, span, a {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

i {
  margin: 10px;
  font-size: 5rem;
  color: #13a4e7;
}

i:hover {
  font-size: 5.4rem;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  color: #0a0644;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header {
  height: 5rem;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
  background-color: #969393;
  border-bottom: 0.5px solid #0a0644;
  -webkit-box-shadow: 2px 2px 10px 1px #424242;
          box-shadow: 2px 2px 10px 1px #424242;
  overflow: hidden;
  z-index: 9;
  /*
        & .hamburger {
            position: absolute;
            top: 2em;
            right: 2em;
            z-index: 1;
            width: 28px;
            //@include transition-ease;

            & .patty {
            position: absolute;
            top: 0.5rem;
            right: 0;
            height: 3px;
            width: 28px;
            background: #000;
            //@include transition-ease;   

                &::before {
                    content: '';
                    position: absolute;
                    top: -8px;
                    height: 3px;
                    width: 28px;
                    background: #000;
                    //@include transition-ease;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 8px;
                    height: 3px;
                    width: 20px;
                    background: #000;
                    //@include transition-ease;
                }

                &.open {
                    transform: rotate(720deg);
                    background: transparent;

                    &::before {
                        transform: rotate(45deg) translate(5px, 8px);
                    }

                    &::after{
                        width: 28px;
                        transform: rotate(-45deg) translate(3px, -7px);
                    }
                }    
            }
        }
        */
}

header h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 2.5rem;
  margin: 1.25rem;
  text-align: center;
}

header h1 .logo--name {
  color: #f1f1f1;
}

header h1 .logo--title {
  font-size: 1rem;
  border-top: solid 1px #000;
  padding-top: 0.5rem;
}

.welcome {
  width: calc(100vw - 80px);
  margin: 20px;
  margin-top: calc(5rem + 40px);
  padding: 20px;
  font-family: "Overpass", sans-serif;
  top: 7.6rem;
  padding: 20px;
  background-color: #969393;
  -webkit-box-shadow: 2px 2px 10px 1px #424242;
          box-shadow: 2px 2px 10px 1px #424242;
}

.welcome .welcome--img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.welcome .welcome--img img {
  width: 100%;
  height: auto;
  border: solid 1px #000;
}

.welcome span {
  color: #13a4e7;
  font-weight: 700;
  font-size: 2.3rem;
  font-style: italic;
}

.welcome p {
  margin-top: 20px;
  font-size: 2.3rem;
  line-height: 2.8rem;
  text-align: center;
}

.project--sect {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project--box {
  width: 75vw;
  height: 25em;
  margin: 10px auto;
  background-color: #969393;
  overflow: hidden;
  border: 1px solid #424242;
}

.project--box p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 74vw;
  height: 5em;
  font-size: 1.5rem;
  color: #13a4e7;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project--box p:hover {
  font-size: 1.8rem;
  color: #969393;
  background-color: #0a0644;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project--box img {
  width: 75vw;
  height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}

.skills--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about--sect--p {
  text-indent: 20px;
}

.wannasee {
  padding-top: 20px;
  color: #13a4e7;
  font-style: italic;
  text-align: center;
}

.clickhere--div {
  margin: 20px;
  text-align: center;
}

.clickhere {
  font-size: 2rem;
  padding: 0.5rem;
  border: 0.5px solid #13a4e7;
  border-radius: 5px;
  color: #13a4e7;
}

.clickhere:hover {
  font-size: 2.3rem;
  color: #969393;
  background-color: #0a0644;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact--icon--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact--sect--p {
  text-align: center;
}

.contact--sect--p span {
  color: #13a4e7;
  font-weight: 700;
  font-size: 1.8rem;
  font-style: italic;
}

footer {
  width: 100vw;
  height: 5rem;
  position: absolute;
  background-color: #969393;
  -webkit-box-shadow: 2px 2px 10px 1px #424242;
          box-shadow: 2px 2px 10px 1px #424242;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
  section {
    width: calc(100vw - 160px);
    margin: 60px;
  }
  .welcome {
    width: calc(100vw - 160px);
    margin: 60px;
    margin-top: calc(5rem + 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project--box {
    width: 24vw;
    height: 20rem;
    margin: 8px auto;
  }
  .project--box p {
    width: 24vw;
    height: 5rem;
    padding-top: 1rem;
    line-height: 2rem;
  }
  .project--box img {
    width: 24vw;
    height: 18rem;
    -o-object-position: 50%;
       object-position: 50%;
  }
  .skills--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills--container .skill {
    margin: 0 2rem;
  }
  .contact--icon--container i {
    margin: 0 2rem;
  }
  .contact--sect--p {
    margin-top: 20px;
    text-indent: 0px;
    text-align: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  section {
    width: calc(100vw - 160px);
    margin: 60px;
  }
  .welcome {
    width: calc(100vw - 160px);
    margin: 60px;
    margin-top: calc(5rem + 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project--box {
    width: 24vw;
    height: 20rem;
    margin: 8px auto;
  }
  .project--box p {
    width: 24vw;
    height: 5rem;
    padding-top: 1rem;
    line-height: 2rem;
  }
  .project--box .project--img {
    width: 100%;
    height: 100%;
  }
  .project--box img {
    width: 100%;
    height: 100%;
  }
  .skills--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills--container .skill {
    margin: 0 0.5rem;
  }
  .contact--icon--container i {
    margin: 0 1rem;
  }
  .contact--sect--p {
    margin-top: 20px;
    text-indent: 0px;
    text-align: center;
  }
  /*
        section {
            width: calc(100vw - 160px);
            margin: 60px;
        }
        
        //2.2.2 WELCOME
        .welcome {
            width: calc(100vw - 120px);
            margin: 0 60px;
        }

        //2.2.3 PROJECTS
        .project--box {
            width: 24vw; 
            height: 20rem;
            margin: 8px auto;

            & p {
                width: 24vw;
                height: 5rem;
                padding-top: 1rem;
                line-height: 2rem;
            }

            & .project--img {
                width: 100%;
                height: 100%;
            }

            & img {
                width: 100%;
                height: 100%;
                object-position: cover;   
            }        
        }
        
        //2.2.4 Skills
        .skills--container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        //2.2.6 CONTACT
        .contact--sect--p{
            text-indent: 0px;
            text-align: center;
        }
        */
}

@media only screen and (min-width: 1224px) {
  section {
    width: calc(100vw - 27.5rem);
    /* padding: 20px; */
  }
  /* h2 {
        margin-bottom: 20px;
        font-family: $accentFont;
        font-size: 2.5rem;
        color: $accentColorMaroon;
    }

    p, span, a {
        font-family: $contentFont;
        font-size: 1.5rem;
        line-height: 2rem;
    }


    a {
        text-decoration: none;
    }

    i {
        margin: 10px;
        font-size: 5rem;
        color: $accentColorLightBlue;

        &:hover {
            //box-shadow: 2px 2px 10px 1px $accentColorShadow;
            font-size: 5.4rem;
            transform: rotate(-20deg);
            color: $accentColorDeepBlue;
        }
    } */
  header {
    height: 100vh;
    width: 15rem;
    display: block;
    position: fixed;
    left: 0;
    background-color: #969393;
    border-bottom: 0.5px solid #0a0644;
    -webkit-box-shadow: 2px 2px 10px 1px #424242;
            box-shadow: 2px 2px 10px 1px #424242;
    overflow: hidden;
    z-index: 9;
  }
  header h1 {
    font-family: "Patrick Hand", cursive;
    font-size: 2.5rem;
    padding: 1.25rem 0;
  }
  header .hamburger {
    display: none;
  }
  ul {
    padding: 1.25rem 0;
    list-style: none;
  }
  ul li {
    color: #000;
    margin: 3rem 0;
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-size: 1.2rem;
  }
  ul li:hover {
    text-decoration: underline;
    font-size: 2rem;
    color: #f1f1f1;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .welcome {
    width: calc(100vw - 27.5rem);
    margin-top: calc(50vh - 221px);
    margin-bottom: calc(50vh - 190px);
    margin-left: 20rem;
    /*
            font-family: $contentFont;
            position: relative;
            top: 7.6rem;

            & span {
                color: $accentColorLightBlue;
                font-weight: 700;
                font-size: 2.3rem;
                font-style: italic;
            }

            */
  }
  .welcome p {
    margin: 20px;
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
  .project--sect {
    margin: 40px 2.5rem 0 20rem;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project--box {
    width: 25vw;
    height: 25em;
    margin: 10px auto;
    background-color: #969393;
    overflow: hidden;
    border: 1px solid #424242;
  }
  .project--box p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25vw;
    height: 5em;
    font-size: 1.5rem;
    color: #13a4e7;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project--box img {
    width: 25vw;
    height: 20em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 80%;
       object-position: 50% 80%;
  }
  .skills--sect {
    margin: 50px 2.5rem 0 20rem;
  }
  .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about--sect {
    margin: 50px 2.5rem 0 20rem;
  }
  /*
        .about--sect--p {
            text-indent: 20px;
        } 
        
        .wannasee {
            padding-top: 20px;
            color: $accentColorLightBlue;
            font-style: italic;
            text-align: center;
        }
        
        .clickhere--div {
            margin: 20px;
            text-align: center;
        }

        .clickhere {
            font-size: 2rem;
            padding: 0.5rem;
            border: 0.5px solid $accentColorLightBlue;
            border-radius: 5px;
            color: $accentColorLightBlue;

            &:hover {
                font-size: 2.3rem;
                color: $bgColorWhite;
                background-color: $accentColorDeepBlue;
            }
        } */
  .contact--sect {
    margin: 50px 2.5rem 2.5rem 20rem;
  }
  .contact--icon--container i {
    padding: 0 20px;
  }
  /* 
        .contact--sect--p{
            text-indent: 20px;
        } 

        //3.7 FOOTER
        footer {
            width: 100vw;
            height: 5rem;
            position: absolute;
            background-color: $bgColorWhite;
            box-shadow: 2px 2px 10px 1px $accentColorShadow;
        }
        */
}
/*# sourceMappingURL=index.css.map */