.main--quiz{
    width: calc(100vw - 30px);
    padding-top: 100px;
    margin: 0px 15px;
    background: rgba(44, 43, 44, 0.63);
    overflow: scroll;
    scroll-behavior: smooth;
}

#quiz{
    width: calc(100vw - 50px);
    padding: 20px 10px;
    height: fit-content;

    & .slide{
        display: none;
        z-index: 1;
        opacity: 0;
        transition: opacity 2s;
    }
    
    & .active-slide{
        opacity: 1;
        z-index: 2;
        display: contents;
    }

    & .question{
        font-family: $paraFont;
        color: rgba(44, 43, 44, 0.781);
        font-size: 1.8rem;
        line-height: 2rem;
        text-indent: 25px;
        background: colors(header);
        padding: 20px;
        border: 1px solid colors(header);
        border-radius: 15px 15px 0 0;
    }    

    & .answers{
        border: 1px solid colors(header);

        & label{
            
            cursor: pointer;

            & [type="radio"] {
                display: none;
            }

            & [type="radio"] + span {
                display: inline-block;
                width: calc(100vw - 92px);
                padding: 20px;
                font-family: $paraFont;
                font-size: 1.5rem;
                color: colors(accent--blue);
                cursor: pointer;
                border-top: 1px solid colors(header);

                &:hover {
                    font-size: 1.8rem;
                    @include transition-ease;
                }
            }

            & [type="radio"]:checked + span {
                color: colors(accent--yellow);
                font-size: 1.8rem;
                @include transition-ease;
            }

           
        }
    }
}

button {
    display: inline-block;
    font-family: $paraFont;
    font-size: 1.8rem;
    color: rgba(44, 43, 44, 0.781);
    background: colors(header);
    padding: 10px;
    margin: 10px 0px 0px 20px;
    font-weight: 700;
    text-align: center;
    border: 1px solid colors(header);
    border-radius: 15px;
    box-shadow: -2px 2px 10px colors(text--camo), -12px 12px colors(accent--blue);
    z-index: 2;

    &:hover {
        background: #929090;
        color: colors(header);
        @include transition-ease;
    }
}

#results {
    font-family: $paraFont;
    color: colors(header);
    font-size: 1.8rem;
    line-height: 2rem;
    text-indent: 25px;
    padding: 20px 10px;

    & span {
        color: colors(accent--yellow);
        font-weight: 600;
    }  
}

#return {
    display: none;
    margin-bottom: 40px;
}

//TABLET STYLING LANDSCAPE
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : landscape) {
    /* Styles */
    #quiz {

        & .question{
            font-size: 2rem;
            line-height: 2.8rem;
            text-indent: 30px;
            padding: 40px;
        }    
    
        & .answers{
    
            & label{
                
                cursor: pointer;
    
                & [type="radio"] {
                    display: none;
                }
    
                & [type="radio"] + span {
                    width: calc(100vw - 132px);
                    padding: 40px;
                    font-size: 1.7rem;
    
                    &:hover {
                        font-size: 2rem;
                    }
                }
    
                & [type="radio"]:checked + span {
                    font-size: 2rem;
                }
    
               
            }
        }
    }
    
    button {
        font-size: 2rem;
        padding: 20px;
        margin: 20px 0px 0px 20px;
    }
    
    #results {
        font-size: 2rem;
        line-height: 2.8rem;
        text-indent: 30px;
        padding: 40px;
    
        & span {
            color: colors(accent--yellow);
            font-weight: 600;
        }  
    }
    
    #return {
        display: none;
        margin: 0px 40px 40px 40px;
    }
}

//TABLET STYLE PORTRAIT
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /*Style*/
    #quiz {

        & .question{
            font-size: 2rem;
            line-height: 2.8rem;
            text-indent: 30px;
            padding: 40px;
        }    
    
        & .answers{
    
            & label{
                
                cursor: pointer;
    
                & [type="radio"] {
                    display: none;
                }
    
                & [type="radio"] + span {
                    width: calc(100vw - 132px);
                    padding: 40px;
                    font-size: 1.7rem;
    
                    &:hover {
                        font-size: 2rem;
                    }
                }
    
                & [type="radio"]:checked + span {
                    font-size: 2rem;
                }
    
               
            }
        }
    }
    
    button {
        font-size: 2rem;
        padding: 20px;
        margin: 20px 0px 0px 20px;
    }
    
    #results {
        font-size: 2rem;
        line-height: 2.8rem;
        text-indent: 30px;
        padding: 40px;
    
        & span {
            color: colors(accent--yellow);
            font-weight: 600;
        }  
    }
    
    #return {
        display: none;
        margin: 0px 40px 40px 40px;
    }
}

//DESKTOP AND LAPTOP STYLE
@media only screen  and (min-width : 1224px) {
    /*Style*/
    .main--quiz{
        width: calc(100vw - 100px);
        margin: 0px 50px;
    }
    
    #quiz {
        width: calc(100vw - 400px);
        padding: 50px ;
        margin: 0 auto;

        & .question{
            font-size: 2rem;
            line-height: 2.8rem;
            text-indent: 30px;
            padding: 40px;
        }    
    
        & .answers{
    
            & label{
                
                cursor: pointer;
    
                & [type="radio"] {
                    display: none;
                }
    
                & [type="radio"] + span {
                    width: calc(100vw - 482px);
                    padding: 40px;
                    font-size: 1.7rem;
    
                    &:hover {
                        font-size: 2rem;
                    }
                }
    
                & [type="radio"]:checked + span {
                    font-size: 2rem;
                }
    
               
            }
        }
    }
    
    button {
        font-size: 2rem;
        padding: 20px;
        margin: 20px 0px 0px 20px;
    }
    
    #results {
        font-size: 2rem;
        line-height: 2.8rem;
        text-indent: 30px;
        padding: 40px;
    
        & span {
            color: colors(accent--yellow);
            font-weight: 600;
        }  
    }
    
    #return {
        display: none;
        margin: 0px 40px 40px 40px;
    }
}
