/* Table of Contents
    1. Fonts
        1.1 Font Family
        1.2 Font Size
        1.2 Font Weight
    2. Colors
    3. Transitions
*/

//1. Fonts
    //1.1 Font Family
    $headerFont: 'Montserrat', sans-serif;
    $yuzawaFont: 'WindSong', cursive;
    $japaneseFont: 'Noto Serif JP', serif;
    $contentFont: 'Indie Flower', cursive;
    //1.2 Font Size 
    $h1Size: 2.5rem;

//2. Colors
    //2.1 Background Colors
        $bgColorWhite: rgb(241, 241, 241);
        $bgColorWinter: rgb(138, 199, 214);
        $bgColorSpring: rgb(214, 138, 180);
        $bgColorSummer: rgb(166, 214, 138);
        $bgColorAutumn: rgb(138, 199, 214);

    //2.2 Accent Colors  
        $accentColorDeepBlue: rgb(10, 6, 68);  
        $accentColorLightBlue: rgb(19, 164, 231);
        $accentColorMaroon: rgb(240, 70, 107);
        $accentColorShadow: rgb(66, 66, 66);

//#. Transitions