/* Table of Contents
    1. Fonts
        1.1 Font Family
        1.2 Font Weight
    2. Colors
    3. Transitions
*/

//1. Fonts
    //1.1 Font Family
    $accentFont: 'Patrick Hand', cursive;
    $contentFont: 'Overpass', sans-serif;

//2. Colors
    //2.1 Background Colors
        $bgColorWhite: rgb(241, 241, 241);
        $bgColorBlue: rgb(10, 6, 68);

    //2.2 Accent Colors    
        $accentColorBlue: rgb(19, 164, 231);
        $accentColorMaroon: rgb(240, 70, 107);
        

//#. Transitions