/* Table of Contents
    1. Fonts
        1.1 Font Family
        1.2 Font Size
        1.2 Font Weight
    2. Colors
    3. Transitions
*/

//1. Fonts
    //1.1 Font Family
    $accentFont: 'Montserrat', sans-serif;
    $contentFont: 'Roboto', sans-serif;
    //1.2 Font Size 
    $h1Size: 2.5rem;

//2. Colors
    //2.1 Background Colors
        $bgColorMain: rgb(150, 147, 147);
        $bgColorScreen: #000;

    //2.2 Accent Colors  
        $accentColorTyping: rgb(161, 241, 114);  
        $accentColorContent: #000;
        $accentColorHeader: #f1f1f1;
        $accentColorShadow: rgb(66, 66, 66);

//#. Transitions
    