/* Table of Contents
    1. Fonts
        1.1 Font Family
        1.2 Font Size
        1.2 Font Weight
    2. Colors
    3. Transitions
*/

//1. Fonts
    //1.1 Font Family
    $accentFont: 'Patrick Hand', cursive;
    $contentFont: 'Overpass', sans-serif;
    //1.2 Font Size 
    $h1Size: 2.5rem;

//2. Colors
    //2.1 Background Colors
        $bgColorScreen: rgb(150, 147, 147);
        $bgColorBlue: rgb(10, 6, 68);

    //2.2 Accent Colors  
        $accentColorTyping: rgb(62, 214, 75);  
        $accentColorContent: #000
        ;
        $accentColorHeader: #f1f1f1;
        $accentColorShadow: rgb(66, 66, 66);

//#. Transitions
    