@import "./reset", "./variables", "./mixins";

/* Table of Contents
    1. Overall Styling (mobile, etc.)
        1.1 Header
        1.2 Welcome
        1.3 Projects
        1.4 Skills
        1.5 About
        1.6 Contact
        1.7 Footer
    2. Tablet Styling
        2.1 Landscape
            2.1.1 Header
            2.1.2 Welcome
            2.1.3 Projects
            2.1.4 Skills
            2.1.5 About
            2.1.6 Contact
            2.1.7 Footer
        2.2 Portrait
            2.2.1 Header
            2.2.2 Welcome
            2.2.3 Projects
            2.2.4 Skills
            2.2.5 About
            2.2.6 Contact
            2.2.7 Footer
    3. Computer Styling
        3.1 Header
        3.2 Welcome
        3.3 Projects
        3.4 Skills
        3.5 About
        3.6 Contact
        3.7 Footer
*/

//1. OVERALL STYLING
body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
      background-attachment: fixed;
}

section {
    width: calc(100vw - 80px);
    margin: 40px 20px;
    padding: 20px;
    background-color: $bgColorMain;
    box-shadow: 2px 2px 10px 1px $accentColorShadow;
}

h2 {
    margin-bottom: 20px;
    font-family: $accentFont;
    font-size: 2.5rem;
    color: $accentColorContent;
}

p, span, a {
    font-family: $contentFont;
    font-size: 1.5rem;
    line-height: 2rem;
}


a {
    text-decoration: none;
}

i {
    margin: 10px;
    font-size: 5rem;
    color: $accentColorContent;

    &:hover {
        //box-shadow: 2px 2px 10px 1px $accentColorShadow;
        font-size: 5.4rem;
        transform: rotate(-20deg);
        color: $accentColorContent;
        @include transition-ease;
    }
}

    //1.1 HEADER
    header {
        height: 5rem;
        width: 100vw;
        display: block;
        position: fixed;
        top: 0;
        background-color: $bgColorMain;
        border-bottom: 0.5px solid $accentColorContent;
        box-shadow: 2px 2px 10px 1px $accentColorShadow;
        overflow: hidden;
        z-index: 9;

        & h1 {
            font-family: $accentFont; 
            font-size: $h1Size;  
            margin: 1.25rem;
            text-align: center;
            //border: solid 1px rgb(46, 45, 45);

            & .logo--name {
                color: $accentColorHeader;
            }

            & .logo--title {
                font-size: 1rem;
                border-top: solid 1px $accentColorContent;
                padding-top: 0.5rem;
            }
        }
        /*
        & .hamburger {
            position: absolute;
            top: 2em;
            right: 2em;
            z-index: 1;
            width: 28px;
            //@include transition-ease;

            & .patty {
            position: absolute;
            top: 0.5rem;
            right: 0;
            height: 3px;
            width: 28px;
            background: #000;
            //@include transition-ease;   

                &::before {
                    content: '';
                    position: absolute;
                    top: -8px;
                    height: 3px;
                    width: 28px;
                    background: #000;
                    //@include transition-ease;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 8px;
                    height: 3px;
                    width: 20px;
                    background: #000;
                    //@include transition-ease;
                }

                &.open {
                    transform: rotate(720deg);
                    background: transparent;

                    &::before {
                        transform: rotate(45deg) translate(5px, 8px);
                    }

                    &::after{
                        width: 28px;
                        transform: rotate(-45deg) translate(3px, -7px);
                    }
                }    
            }
        }
        */
    }

    //1.2 WELCOME
    .welcome {
        width: calc(100vw - 80px);
        margin: 20px;
        margin-top: calc(5rem + 40px);
        padding: 20px;
        font-family: $contentFont;
        top: 7.6rem;
        padding: 20px;
        background-color: $bgColorScreen;
        box-shadow: 2px 2px 10px 1px $accentColorShadow;

        & span {
            color: $accentColorContent;
            font-weight: 700;
            font-size: 2.3rem;
            font-style: italic;
        }

        & p {
            margin-top: 20px;
            font-size: 2.3rem;
            line-height: 2.8rem;
            text-align: center;
        }
    }

    //1.3 PROJECTS
    .project--sect {
        position: relative;
        height: fit-content;
    }

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project--box {
        width: 75vw; //
        height: 25em;
        margin: 10px auto;
        background-color: $bgColorMain;
        overflow: hidden;
        border: 1px solid $accentColorShadow;

        & p {
            display: flex;
            width: 74vw;
            height: 5em;
            font-size: 1.5rem;
            color: $accentColorContent;
            text-align: center;
            justify-content: center;
            align-items: center;
            
            &:hover {
                font-size: 1.8rem;
                color: $bgColorMain;
                background-color: $accentColorContent;
                @include transition-ease;
            }
        }

        & img {
            width: 75vw;
            height: 20em;
            object-fit: cover;
            object-position: 50% 80%;
        }        
    }
    
    //1.4 SKILLS
    .skills--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    //1.5 ABOUT
    .container--about {
        display: grid;
        
        & img {
            width: ;
        }
    }

    .about--sect--p {
        text-indent: 20px;
    } 
    
    .wannasee {
        padding-top: 20px;
        color: $accentColorContent;
        font-style: italic;
        text-align: center;
    }
    
    .clickhere--div {
        margin: 20px;
        text-align: center;
    }

    .clickhere {
        font-size: 2rem;
        padding: 0.5rem;
        border: 0.5px solid $accentColorContent;
        border-radius: 5px;
        color: $accentColorContent;

        &:hover {
            font-size: 2.3rem;
            color: $bgColorMain;
            background-color: $accentColorContent;
            @include transition-ease;
        }
    }

    // 1.6 CONTACT
    .contact--icon--container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact--sect--p{
        //text-indent: 20px;
        text-align: center;

        & span {
            color: $accentColorContent;
            font-weight: 700;
            font-size: 1.8rem;
            font-style: italic;
        }
    }

    //1.7 FOOTER
    footer {
        width: 100vw;
        height: 5rem;
        position: absolute;
        background-color: $bgColorMain;
        box-shadow: 2px 2px 10px 1px $accentColorShadow;
    }

//2. TABLET STYLING
    //2.1 LANDSCAPE
    @media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : landscape) {
        section {
            width: calc(100vw - 160px);
            margin: 60px;
        }
        
        //2.2 WELCOME
        .welcome {
            width: calc(100vw - 160px);
            margin: 60px;
            margin-top: calc(5rem + 40px);
            display: flex;
            align-items: center;
        }

        //2.3 PROJECTS
        .project--box {
            width: 24vw; 
            height: 20rem;
            margin: 8px auto;

            & p {
                width: 24vw;
                height: 5rem;
                padding-top: 1rem;
                line-height: 2rem;
            }

            & img {
                width: 24vw;
                height: 18rem;
                object-position: 50%;   
            }        
        }
        
        //2.4 SKILLS
        .skills--container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & .skill {
                margin: 0 2rem;
            }
        }

        //2.2.6 CONTACT
        .contact--icon--container {
            & i {
            margin: 0 2rem;
            }
        }

        .contact--sect--p{
            margin-top: 20px;
            text-indent: 0px;
            text-align: center;
        }
    }

    //2.2 PORTRAIT
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        section {
            width: calc(100vw - 160px);
            margin: 60px;
        }
        
        //2.2 WELCOME
        .welcome {
            width: calc(100vw - 160px);
            margin: 60px;
            margin-top: calc(5rem + 40px);
            display: flex;
            align-items: center;
        }

        //2.2.3 PROJECTS
        .project--box {
            width: 24vw; 
            height: 20rem;
            margin: 8px auto;

            & p {
                width: 24vw;
                height: 5rem;
                padding-top: 1rem;
                line-height: 2rem;
            }

            & .project--img {
                width: 100%;
                height: 100%;
            }

            & img {
                width: 100%;
                height: 100%; 
            }        
        }
        
        //2.4 SKILLS
        .skills--container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & .skill {
                margin: 0 0.5rem;
            }
        }

        //2.2.6 CONTACT
        .contact--icon--container {
            & i {
            margin: 0 1rem;
            }
        }

        .contact--sect--p{
            margin-top: 20px;
            text-indent: 0px;
            text-align: center;
        }
        /*
        section {
            width: calc(100vw - 160px);
            margin: 60px;
        }
        
        //2.2.2 WELCOME
        .welcome {
            width: calc(100vw - 120px);
            margin: 0 60px;
        }

        //2.2.3 PROJECTS
        .project--box {
            width: 24vw; 
            height: 20rem;
            margin: 8px auto;

            & p {
                width: 24vw;
                height: 5rem;
                padding-top: 1rem;
                line-height: 2rem;
            }

            & .project--img {
                width: 100%;
                height: 100%;
            }

            & img {
                width: 100%;
                height: 100%;
                object-position: cover;   
            }        
        }
        
        //2.2.4 Skills
        .skills--container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        //2.2.6 CONTACT
        .contact--sect--p{
            text-indent: 0px;
            text-align: center;
        }
        */
    }

//3. DESKTOP AND LAPTOP STYLE
@media only screen  and (min-width : 1224px) {
    //OVERALL STYLING
    section {
        width: calc(100vw - 27.5rem);
        /* padding: 20px; */
    }

    /* h2 {
        margin-bottom: 20px;
        font-family: $accentFont;
        font-size: 2.5rem;
        color: $accentColorContent;
    }

    p, span, a {
        font-family: $contentFont;
        font-size: 1.5rem;
        line-height: 2rem;
    }


    a {
        text-decoration: none;
    }

    i {
        margin: 10px;
        font-size: 5rem;
        color: $accentColorContent;

        &:hover {
            //box-shadow: 2px 2px 10px 1px $accentColorShadow;
            font-size: 5.4rem;
            transform: rotate(-20deg);
            color: $accentColorContent;
        }
    } */

        //3.1 HEADER
        header {
            height: 100vh;
            width: 15rem;
            display: block;
            position: fixed;
            left: 0;
            background-color: $bgColorMain;
            border-bottom: 0.5px solid $accentColorContent;
            box-shadow: 2px 2px 10px 1px $accentColorShadow;
            overflow: hidden;
            z-index: 9;

            & h1 {
                font-family: $accentFont; 
                font-size: $h1Size;  
                padding: 1.25rem 0;
            }

            & .hamburger {
                display: none;
            }    
        }

        ul {
            padding: 1.25rem 0;
            list-style: none;

            & li {
                color: #000;
                margin: 3rem 0;
                text-align: center;
                font-family: $contentFont;
                font-size: 1.2rem;

                &:hover {
                    text-decoration: underline;
                    font-size: 2rem;
                    color: #f1f1f1;
                    cursor: pointer;
                    @include transition-ease;
                }
            }
        }

        //3.2 WELCOME
        .welcome {
            height: 75vh;
            width: calc(100vw - 27.5rem);
            //width: calc(100vw - 30px - 20rem);
            margin-top: calc(50vh - 221px);
            margin-bottom: calc(50vh - 190px);
            margin-left: 20rem;

            & p {
                margin: 20px;
                color: $accentColorHeader;
                font-size: 2.3rem;
                line-height: 2.8rem;
            } 
            // margin: 25vh 30px 25vh ;
            /*
            font-family: $contentFont;
            position: relative;
            top: 7.6rem;

            & span {
                color: $accentColorContent;
                font-weight: 700;
                font-size: 2.3rem;
                font-style: italic;
            }

            */
        }

        //3.3 PROJECTS
        .project--sect { 
            margin: 40px 2.5rem 0 20rem;
        }

        .flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .project--box {
            width: 25vw; 
            height: 25em;
            margin: 10px auto;
            background-color: $bgColorMain;
            overflow: hidden;
            border: 1px solid $accentColorShadow;

            & p {
                display: flex;
                width: 25vw;
                height: 5em;
                font-size: 1.5rem;
                color: $accentColorContent;
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            & img {
                width: 25vw;
                height: 20em;
                object-fit: cover;
                object-position: 50% 80%;
            }        
        }
        
        //3.4 SKILLS
        .skills--sect {
            margin: 50px 2.5rem 0 20rem;
        }

        
        .skill {
            //margin: 0 ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 
        
        //3.5 ABOUT
        .about--sect {
            margin: 50px 2.5rem 0 20rem;
        }

        /*
        .about--sect--p {
            text-indent: 20px;
        } 
        
        .wannasee {
            padding-top: 20px;
            color: $accentColorContent;
            font-style: italic;
            text-align: center;
        }
        
        .clickhere--div {
            margin: 20px;
            text-align: center;
        }

        .clickhere {
            font-size: 2rem;
            padding: 0.5rem;
            border: 0.5px solid $accentColorContent;
            border-radius: 5px;
            color: $accentColorContent;

            &:hover {
                font-size: 2.3rem;
                color: $bgColorMain;
                background-color: $accentColorContent;
            }
        } */

        // 3.6 CONTACT
        .contact--sect {
            margin: 50px 2.5rem 2.5rem 20rem;
        }

        
        .contact--icon--container {

            & i {
                padding: 0 20px;
            }
        }
        /* 
        .contact--sect--p{
            text-indent: 20px;
        } 

        //3.7 FOOTER
        footer {
            width: 100vw;
            height: 5rem;
            position: absolute;
            background-color: $bgColorMain;
            box-shadow: 2px 2px 10px 1px $accentColorShadow;
        }
        */

}